* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* Header */

.header .body {
    display: flex;
    justify-content: space-between;
}

.nav ul {
    display: flex;
}
